.section-main {
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
}
  
.section-main--content {
  display: block;
  max-width: 1100px;
  margin-top: 140px;
  text-align: center;
}


label {
  color: white;
  font-size: 32px;
}

input {
  outline: none;
  border: none;
  color: #3F92C5;
  font-size: 24px;
  padding-left: 6px;
  margin-left: 5px;
  width: 250px;
  height: 35px;
}

::placeholder {
  color: rgb(159, 159, 159);
}

input[type="date"] {
  height: 35px;
}

.section-main--input-radio {
  width: 25px;
  height: 25px;
  border: 3px solid #FFFFFF;
}

.section-main--input-row {
  margin-top: 6px;
  text-align: start;
}

.section-main--input-dose-ls {
  margin: 20px 0 20px 185px;
}

.section-main--input-file {
  display: none;
}

.section-main--input-dose {
  margin-left: 161px;
}

.section-main--input-file-row {
  margin-left: -69px;
}

.section-main--input-date-ls {
  margin-left: -8px;
}

.section-main--button.btn-secondary {
  margin-top: 70px;
  width: 230px;
}

.section-main--button.btn-primary {
  padding-left: 20px;
  padding-right: 20px;
}

.section-main--img-choosed {
  max-width: 50%;
  margin: 8px 0;
  text-align: end;
  margin-right: 30px;
}

.edit-vaccine--button-delete.btn-delete {
  position: absolute;
  right: 0;
  margin-right: 16px;
  margin-top: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.edit-vaccine--modal {
  background-color: white;
  width: 450px;
  height: 200px;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  z-index: 1000;
}

.edit-vaccine--modal-buttons {
  display: flex;
  gap: 40px;
}

.edit-vaccine--button-yes {
  width: 150px;
}

.edit-vaccine--button-no {
  width: 150px;
}

.edit-vaccine--modal-text {
  font-size: 20px;
  color: #FD7979;
}

.show-modal {
  display: flex !important;
}

.hidden-modal {
  display: none;
}

.edit-vaccine--modal-bkg {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 500;
  background-color: rgba(0, 0, 0, 0.75);
  justify-content: center;
  align-items: center;
}

.edit-vaccine--modal-container {
  justify-content: center;
  align-items: center;
  z-index: 100;
  width: 100%;
  height: 100vh;
  position: fixed;
}
  